:root{
    --primary-color: #141114;
    --font-size-base:20px;

}
body{
    font-family:'Ubuntu';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #cd65db, #782780);
    color: var(--primary-color);
}

.card{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 15px;
    max-width: 90%;
    width: 350px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0,0.2);
    backdrop-filter: blur(10px);
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    columns: #c44bd4;
    background: #fff;
    text-decoration: none;
    transition: background-color(0.35, color 0.35);

}

.card a:hover{
    background-color: #782780;
    color: #fff;
}